body {
    margin: 5px;
}

h1{
    text-align: center;
}
.section{
    float: left;
    box-sizing: border-box;
}

.panel{
    width:100%;
    position: absolute;
}

.panel-heading{
    text-align: center;
}

#mylocation{
    height: 250px;
    width:30%;
    position: relative;
}

#container{
    height: 500px;
    width:70%;
    position: relative;
}

#map {
    height: 90%;
    width:100%;
    position: absolute;
    margin-top: 5%;
    margin-left: 2px;
}

#form{
    margin: 5px;
    position: absolute;
    padding-left: 0;
}

.location_value{
    color:red;
}

.help{
    visibility: hidden;
}

th{
    width:30%;
}

.helpcol{
    width:10%;
}