h1{
    text-align: center;
}
.section{
    float: left;
    box-sizing: border-box;
}

.mylocation{
    height: 500px;
    width:30%;
  // border:1px solid black;
}

.container{
    height: 500px;
    width:70%;
    border:1px solid red;
    position: relative;
}
.panel{
    width:100%;
}
.panel-heading{
    text-align: center;
}
#map {
    height: 90%;
    width:100%;
    position: absolute;
    margin: 5px;
    border:1px solid green;

}

form{
    margin: 5px;
}