<!DOCTYPE html>
<html lang="en" ng-app="UIChallenge">
<head>
    <meta charset="UTF-8">
    <title>Avenue Code UI Challenge</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="main.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRmJhNKSn-Pm1grU6_lME00ayARE2dZFo&callback=init">
    </script>
</head>
<body ng-controller="controller">
    <h1>GeoLocation Test</h1>
    <div class="section mylocation">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Estimated location</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr><th>IP</th><td>{{data.query}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>Country</th><td>{{data.country}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>Region</th><td>{{data.regionName}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>City</th><td>{{data.city}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>Time Zone</th><td>{{data.timezone}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>Latitude</th><td>{{data.lat}}</td><td><button class="help">?</button></td></tr>
                        <tr><th>Longitude</th><td>{{data.lon}}</td><td><button class="help">?</button></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="getMyLocation()">My Location</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section container">
        <form class="form-inline">
            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" ng-model="website" placeholder="Enter website name">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="locate()">Locate</button>
        </form>
        <div id="map"></div>
    </div>
</body>
</html>